--swiftversion 6.0
--indent 4
--wraparguments before-first
--wrapcollections before-first
--wrapparameters before-first
--maxwidth 120
--self remove
--stripunusedargs closure-only
--header "//\n//  {file}\n//  MaltaCalculator\n//"
--allman false
--commas inline
--elseposition same-line
--empty void
--exponentcase lowercase
--hexliteralcase uppercase
--importgrouping testable-bottom
--octalgrouping 4,8
--patternlet hoist
--ranges spaced
--semicolons never
--trimwhitespace always
--ifdef no-indent
--closingparen balanced
--lineaftermarks true
--linebreaks lf
--nospaceoperators ..<,...
--tabwidth 4
--xcodeindentation enabled
